/*
body{
   !* background: #ccc;*!
}*/
#style{
    background-image: url(/blog/images/slide_4.jpg);
}
h2{
    margin-right: 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 2.5em;
    color: #40345C;
    font-family: 'Marcellus SC', serif;
    text-shadow: 0 1px 0 #FFFFFF;
}